*{
    margin: 0;
    padding: 0;
}
#horizontalimg{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
#img1{
    height: 30%;
    width: 30%;
}
#img2{
    height: 30%;
    width: 30%;
}
#img3{
    height: 30%;
    width: 30%;
}